In [1]:
import spacy

In [2]:
import re

In [3]:
from collections import Counter

In [4]:
import pandas as pd

In [5]:
import glob

In [6]:
import os

In [7]:
import networkx as nx
from networkx.algorithms import bipartite

In [8]:
pd.set_option("display.max_rows",1000)

In [9]:
pd.set_option("display.max_columns",1000)

Eliminate blank lines

In [10]:
nlp = spacy.load('en')

In [11]:
nlp_mango_model = spacy.load('en-mango')

In [12]:
mango2 = pd.read_csv('Mango-Characters-2.csv', delimiter='\t')

In [13]:
#count characters and organizations and include label
def count_characters_by_match(filepath):
    #open and read file with spacy
    tokens = nlp(open(filepath).read())
    #get the file name
    filename = os.path.split(filepath)[-1].replace(".txt","")
    filename = filename.replace("-"," ")
    story_number = re.match('(^[0-9]+)', filename).group()
    filename = re.sub('(^[0-9]+)', '', filename)
    filename = f'{filename} ({story_number})'
    #get a list of tuples with people/organizations and entity label
    character_list = [person for person in mango2['person']]
    #character_list.append('I')
    #character_list.append('me')
    people = [item.text for item in tokens if item.text in character_list]
    #clean up the people/organization names by getting rid of plurals, linebreaks, and some punctuation
    if len(people) > 0:
        people_counts = Counter(people)

                # make datalist for pandas dataframe
            #datalist = [(filename, people[0], people[1], people_counts) 
                     #           for ((people[0], people[1]), people_counts) in people_counts.items()]
        datalist = [(filename, people_counts[0], people_counts[1], story_number) for people_counts in people_counts.items()]
        tmp = pd.DataFrame(datalist)
        tmp.columns = ['vignette','person','weight', 'story_number'] 
        return tmp
    else:
        return

In [14]:
filepaths = sorted(glob.glob('/Users/melaniewalsh/dissertation/draft/3.Cisneros/other-materials/digital/vignettes/*.txt'))
characters_df_by_match = pd.DataFrame()
for filepath in filepaths:
    characters_df_by_match = characters_df_by_match.append(count_characters_by_match(filepath))

In [15]:
characters_df_by_match = characters_df_by_match.replace('I', 'Esperanza')

In [16]:
characters_df_by_match = characters_df_by_match.replace('me', 'Esperanza')

In [15]:
characters_df_by_match

,vignette,person,weight,story_number
0,The House on Mango Street (1),Mama,5,1
1,The House on Mango Street (1),Papa,6,1
2,The House on Mango Street (1),Carlos,2,1
3,The House on Mango Street (1),Kiki,2,1
4,The House on Mango Street (1),Nenny,2,1
0,"Louie, His Cousin & His Other Cousin (10)",Louie,15,10
1,"Louie, His Cousin & His Other Cousin (10)",Marin,3,10
2,"Louie, His Cousin & His Other Cousin (10)",Maris,1,10
0,Marin (11),Marin,11,11
1,Marin (11),Louie,1,11
2,Marin (11),Davey,1,11
0,Those Who Don’t (12),Davey,1,12
1,Those Who Don’t (12),Rosa,1,12
0,There Was an Old Woman She Had So Many Childr...,Rosa,1,13
1,There Was an Old Woman She Had So Many Childr...,Vargas,2,13
2,There Was an Old Woman She Had So Many Childr...,Vargases,1,13
3,There Was an Old Woman She Had So Many Childr...,Benny,2,13
4,There Was an Old Woman She Had So Many Childr...,Efren,1,13
5,There Was an Old Woman She Had So Many Childr...,Refugia,1,13
0,Alicia Who Sees Mice (14),Alicia,3,14
0,Darius & the Clouds (15),Darius,5,15
0,And Some More (16),Rachel,6,16
1,And Some More (16),Lucy,5,16
2,And Some More (16),Nenny,7,16
3,And Some More (16),Nancy,1,16
4,And Some More (16),Mildred,1,16
5,And Some More (16),Joey,1,16
6,And Some More (16),Marco,1,16
7,And Some More (16),Nereida,1,16
8,And Some More (16),Phyllis,1,16
9,And Some More (16),Alfredo,1,16
10,And Some More (16),Julie,1,16
11,And Some More (16),Jose,1,16
12,And Some More (16),Dagoberto,1,16
13,And Some More (16),Alicia,1,16
14,And Some More (16),Raul,1,16
15,And Some More (16),Edna,1,16
16,And Some More (16),Alma,1,16
17,And Some More (16),Rickey,1,16
18,And Some More (16),Reynaldo,1,16
19,And Some More (16),Angelo,1,16
20,And Some More (16),Albert,1,16
21,And Some More (16),Armando,1,16
22,And Some More (16),Mario,1,16
23,And Some More (16),Rita,1,16
24,And Some More (16),Margie,1,16
25,And Some More (16),Ernie,1,16
26,And Some More (16),Esperanza,4,16
27,And Some More (16),Anita,1,16
28,And Some More (16),Stella,1,16
29,And Some More (16),Dennis,1,16
30,And Some More (16),Lolo,1,16
31,And Some More (16),Richie,1,16
32,And Some More (16),Yolanda,1,16
33,And Some More (16),Hector,1,16
34,And Some More (16),Stevie,1,16
35,And Some More (16),Vincent,1,16
36,And Some More (16),Frankie,1,16
37,And Some More (16),Licha,1,16
38,And Some More (16),Maria,1,16
39,And Some More (16),Reggie,1,16
40,And Some More (16),Elizabeth,1,16
41,And Some More (16),Lisa,1,16
42,And Some More (16),Louie,1,16
43,And Some More (16),Rosemary,1,16
44,And Some More (16),Dalia,1,16
45,And Some More (16),Lily,1,16
46,And Some More (16),Jean,1,16
47,And Some More (16),Geranium,1,16
48,And Some More (16),Joe,1,16
49,And Some More (16),Mimi,1,16
50,And Some More (16),Michael,1,16
51,And Some More (16),Moe,1,16
52,And Some More (16),Bebe,1,16
53,And Some More (16),Bianca,1,16
54,And Some More (16),Benny,1,16
0,The Family of Little Feet (17),Cinderella,1,17
1,The Family of Little Feet (17),Rachel,8,17
2,The Family of Little Feet (17),Lucy,7,17
3,The Family of Little Feet (17),Benny,2,17
4,The Family of Little Feet (17),Bum,2,17
0,A Rice Sandwich (18),Nenny,1,18
1,A Rice Sandwich (18),Gloria,2,18
2,A Rice Sandwich (18),Kiki,1,18
3,A Rice Sandwich (18),Carlos,1,18
4,A Rice Sandwich (18),Superior,3,18
5,A Rice Sandwich (18),Esperanza,1,18
0,Chanclas (19),Mama,6,19
1,Chanclas (19),Uncle,6,19
0,Hairs (2),Papa,2,2
1,Hairs (2),Carlos,1,2
2,Hairs (2),Nenny,1,2
3,Hairs (2),Kiki,1,2
4,Hairs (2),Mama,1,2
0,Hips (20),Rachel,6,20
1,Hips (20),Lucy,6,20
2,Hips (20),Nenny,6,20
3,Hips (20),Alicia,1,20
0,The First Job (21),Papa,1,21
1,The First Job (21),Tito,1,21
2,The First Job (21),Mama,1,21
3,The First Job (21),Lala,4,21
4,The First Job (21),Peter,2,21
0,Papa Who Wakes Up Tired in the Dark (22),Papa,7,22
0,Born Bad (23),Lucy,3,23
1,Born Bad (23),Rachel,3,23
2,Born Bad (23),Lupe,2,23
3,Born Bad (23),Guadalupe,1,23
4,Born Bad (23),Frank,2,23
5,Born Bad (23),Benny,1,23
6,Born Bad (23),Bianca,1,23
7,Born Bad (23),Ruthie,1,23
8,Born Bad (23),Esperanza,1,23
0,"Elenita, Cards, Palm, Water (24)",Elenita,3,24
1,"Elenita, Cards, Palm, Water (24)",Ernie,3,24
0,Geraldo No Last Name (25),Geraldo,7,25
1,Geraldo No Last Name (25),Marin,3,25
2,Geraldo No Last Name (25),Logan,1,25
3,Geraldo No Last Name (25),Palmer,1,25
4,Geraldo No Last Name (25),Aragon,1,25
0,Edna’s Ruthie (26),Edna,5,26
1,Edna’s Ruthie (26),Ruthie,20,26
2,Edna’s Ruthie (26),Vargas,1,26
3,Edna’s Ruthie (26),Benny,1,26
4,Edna’s Ruthie (26),Ma,2,26
0,The Earl of Tennessee (27),Earl,9,27
1,The Earl of Tennessee (27),Edna,3,27
2,The Earl of Tennessee (27),Tito,1,27
3,The Earl of Tennessee (27),Nenny,1,27
4,The Earl of Tennessee (27),Mama,1,27
0,Sire (28),Sire,4,28
1,Sire (28),Papa,1,28
2,Sire (28),Mama,2,28
3,Sire (28),Benny,1,28
0,Four Skinny Trees (29),Nenny,1,29
0,Boys & Girls (3),Nenny,3,3
1,Boys & Girls (3),Carlos,1,3
2,Boys & Girls (3),Kiki,1,3
3,Boys & Girls (3),Vargas,1,3
0,No Speak English (30),Mamacita,3,30
1,No Speak English (30),Rachel,1,30
0,Rafaela Who Drinks Coconut & Papaya Juice on ...,Rafaela,7,31
1,Rafaela Who Drinks Coconut & Papaya Juice on ...,Rapunzel,1,31
0,Sally (32),Sally,11,32
1,Sally (32),Cheryl,1,32
0,Minerva Writes Poems (33),Minerva,4,33
0,Bums in the Attic (34),Bums,2,34
1,Bums in the Attic (34),Papa,3,34
2,Bums in the Attic (34),Nenny,1,34
3,Bums in the Attic (34),Mama,1,34
4,Bums in the Attic (34),People,1,34
0,Beautiful & Cruel (35),Nenny,2,35
1,Beautiful & Cruel (35),Minerva,1,35
0,A Smart Cookie (36),Esperanza,1,36
1,A Smart Cookie (36),Izaura,1,36
2,A Smart Cookie (36),Yolanda,1,36
3,A Smart Cookie (36),Shame,1,36
0,What Sally Said (37),Sally,5,37
1,What Sally Said (37),Daddy,1,37
0,The Monkey Garden (38),Nenny,1,38
1,The Monkey Garden (38),Vargas,1,38
2,The Monkey Garden (38),Sally,10,38
3,The Monkey Garden (38),Tito,4,38
0,Red Clowns (39),Sally,7,39
0,My Name (4),Esperanza,3,4
1,My Name (4),Magdalena,2,4
2,My Name (4),Nenny,1,4
3,My Name (4),Lisandra,1,4
4,My Name (4),Maritza,1,4
0,Linoleum Roses (40),Sally,2,40
0,The Three Sisters (41),Lucy,2,41
1,The Three Sisters (41),Rachel,2,41
2,The Three Sisters (41),Jesus,1,41
3,The Three Sisters (41),Esperanza,6,41
0,Alicia & I Talking on Edna’s Steps (42),Alicia,6,42
1,Alicia & I Talking on Edna’s Steps (42),Edna,1,42
0,Mango Says Goodbye Sometimes (44),Esperanza,1,44
0,Cathy Queen of Cats (5),Cathy,3,5
1,Cathy Queen of Cats (5),Joe,1,5
2,Cathy Queen of Cats (5),Benny,1,5
3,Cathy Queen of Cats (5),Bianca,1,5
4,Cathy Queen of Cats (5),Edna,1,5
5,Cathy Queen of Cats (5),Alicia,1,5
0,Our Good Day (6),Cathy,4,6
1,Our Good Day (6),Tito,1,6
2,Our Good Day (6),Nenny,2,6
3,Our Good Day (6),Lucy,6,6
4,Our Good Day (6),Rachel,7,6
5,Our Good Day (6),Cassandra,1,6
6,Our Good Day (6),Alexis,1,6
7,Our Good Day (6),Maritza,1,6
8,Our Good Day (6),Esperanza,1,6
9,Our Good Day (6),Benny,1,6
10,Our Good Day (6),People,1,6
0,Laughter (7),Nenny,3,7
1,Laughter (7),Rachel,3,7
2,Laughter (7),Lucy,3,7
0,Gil’s Furniture Bought & Sold (8),Carlos,1,8
1,Gil’s Furniture Bought & Sold (8),Nenny,5,8
0,Meme Ortiz (9),Cathy,3,9
1,Meme Ortiz (9),Juan,1,9

In [16]:
G = nx.from_pandas_edgelist(characters_df_by_match, source='person', target='vignette', edge_attr='weight')

In [17]:
G.add_nodes_from(characters_df_by_match['person'], bimodal='character')

In [18]:
G.add_nodes_from(characters_df_by_match['vignette'], bimodal='vignette')

In [19]:
G.remove_node('People')

In [52]:
nx.write_gexf(G, 'No-Esperanza-2020-by-match-mango-street-character-network.gexf')

# Unimodal

In [45]:
top_nodes = set(node for node, detail in G.nodes(data=True) if detail['bimodal']=='character')
bottom_nodes = set(G) - top_nodes

In [46]:
U = bipartite.weighted_projected_graph(G, bottom_nodes)

In [47]:
bottom_nodes

{' A Rice Sandwich (18)',
 ' A Smart Cookie (36)',
 ' Alicia & I Talking on Edna’s Steps (42)',
 ' Alicia Who Sees Mice (14)',
 ' And Some More (16)',
 ' Beautiful & Cruel (35)',
 ' Born Bad (23)',
 ' Boys & Girls (3)',
 ' Bums in the Attic (34)',
 ' Cathy Queen of Cats (5)',
 ' Chanclas (19)',
 ' Darius & the Clouds (15)',
 ' Edna’s Ruthie (26)',
 ' Elenita, Cards, Palm, Water (24)',
 ' Four Skinny Trees (29)',
 ' Geraldo No Last Name (25)',
 ' Gil’s Furniture Bought & Sold (8)',
 ' Hairs (2)',
 ' Hips (20)',
 ' Laughter (7)',
 ' Linoleum Roses (40)',
 ' Louie, His Cousin & His Other Cousin (10)',
 ' Mango Says Goodbye Sometimes (44)',
 ' Marin (11)',
 ' Meme Ortiz (9)',
 ' Minerva Writes Poems (33)',
 ' My Name (4)',
 ' No Speak English (30)',
 ' Our Good Day (6)',
 ' Papa Who Wakes Up Tired in the Dark (22)',
 ' Rafaela Who Drinks Coconut & Papaya Juice on Tuesdays (31)',
 ' Red Clowns (39)',
 ' Sally (32)',
 ' Sire (28)',
 ' The Earl of Tennessee (27)',
 ' The Family of Little Feet (17)',
 ' The First Job (21)',
 ' The House on Mango Street (1)',
 ' The Monkey Garden (38)',
 ' The Three Sisters (41)',
 ' There Was an Old Woman She Had So Many Children She Didn’t Know What to Do (13)',
 ' Those Who Don’t (12)',
 ' What Sally Said (37)'}

In [48]:
nx.write_gexf(U, 'no-Esperanza-2020-by-match-mango-street-character-network-unimodal-vignettes.gexf')

In [49]:
top_nodes = set(node for node, detail in G.nodes(data=True) if detail['bimodal']=='character')
bottom_nodes = set(G) - top_nodes

In [50]:
U = bipartite.weighted_projected_graph(G, top_nodes)

In [51]:
nx.write_gexf(U, 'no-Esperanza-2020-by-match-mango-street-character-network-unimodal-characters.gexf')

In [32]:
SU = nx.Graph([(u,v,d) for u,v,d in U.edges(data=True) if d ['weight']>2] )

In [22]:
#nx.set_node_attributes(G, pd.Series(nodes.story_number, index=nodes.node).to_dict(), 'story_number')